/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: lightgrey;
}
.container {
  width: 800px;
  margin: 20px auto;
  font-size: 1.6rem;
  background-color: crimson;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0 auto;
    background: green;
  }
}
h1,
h3,
h4,
h5 {
  font-size: 1rem;
  color: blue;
}
p {
  line-height: 1.25;
  margin: 20px 0;
  font-size: 1.8rem;
}
header {
  display: flex;
  justify-content: center;
}
header .navigation {
  margin: 20px 0;
  padding: 20px 0;
}
@media (max-width: 500px) {
  header .navigation {
    flex-direction: row;
    justify-content: center;
  }
}
header .navigation a {
  margin-left: 30px;
  color: blue;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: dodgerblue;
}
@media (max-width: 500px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.main-container .firstpic {
  height: 200px;
  width: 220px;
  margin-left: 20px;
}
.main-container .about {
  margin-top: 30px;
  width: 280px;
}
.description {
  padding-left: 20px;
  margin-top: 20px;
  background-color: coral;
}
@media (max-width: 500px) {
  .description {
    width: 100%;
  }
}
.description h2 {
  margin-top: 20px;
}
.ulsection {
  display: flex;
  flex-wrap: wrap;
  background-color: darkcyan;
  padding: 50px;
}
.ulsection .section {
  width: 350px;
}
@media (max-width: 500px) {
  .ulsection .section {
    width: 50%;
  }
}
